@model IEnumerable<Notes.WebApp.Models.Note>

@{ 
    Layout = "~/Views/_Layout.cshtml";
}

<ul class="list-group">
@foreach (var item in Model)
{
    <li class="list-group-item">
        @Html.ActionLink(item.Title, "Details", new { title = item.Title })
    </li>
}
</ul>